/* start header */



.header__square-pic { /* Этот элемент блока header надо заменить на блок с анимацией */
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

/* end header*/
/* ------------------------ */

/* start description */


/* end description*/
/* ------------------------ */

/* start digits*/

/* end digits*/
/* ------------------------ */

/* start feynman */

/* end feynman */
/* ------------------------ */

/* start kaufman */

/* end kaufman */
/* ------------------------ */

/* start footer */

/* end footer*/